{% load static %}


  <!--  <section class = "artience-card-picture"> -->

<!--    <section class="artience-card-header">
        <img src="{% static '' %}{{ post.user.photo|default_if_none:'images/default.png' }}" alt="user picture" class="artience-card-profilepicture">
        <p class="artience-card-username">{{ post.user.user_django.username }}</p>
    </section> -->
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
            <a href="{% url 'lecture' post.id %}">
            <img src="{{ post.main_image }}" alt="picture" class="card-img-top" >
    </a>
            <div class="card-body">
            <h5 class="card-title">
      <!--  <span class="artience-card-username">{{ post.user.user_django.username }}</span>-->
<a href="{% url 'lecture' post.id %}">
  {{ post.title }} </a>
</h5>
  <div class ="artience-teacher">강사 : {{ post.teacher }} 강사님</div>
  <div class ="artience-date">강의 일자 : {{post.lecture_date}}</div>
  <div class ="artience-min">최소인원 : {{post.min}}</div>
  <div class ="artience-min">수강신청수 : {{ post.application_set.count }}</div>
  <p class="card-text">{% autoescape off %}{{ post.description2|truncatechars:100|striptags }}{% endautoescape %}</p>

  </div>
</div>
</div>



</section>
