
/* styles.css */
/*
/* Config files */
@import "config/variables.css";

/* Base files */
@import "base/base.css";
@import "base/normalize.css";

/* Module files */
@import "modules/components.css";
@import "modules/footer.css";
@import "modules/form.css";
@import "modules/navbar.css";
@import "modules/card.css";

/* Page files */
@import "pages/index.css";
@import "pages/profile.css";
@import "pages/home.css";
@import "pages/upload.css";

@import "modules/bootstrap-datetimepicker.min.css";
