.artience-upload {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.artience-upload-photo {
    background: var(--border);
    flex-grow: 1;
}

.artience-upload-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.artience-upload-form {
    margin-bottom: 50px;
}

.artience-upload-input {
    border: 0;
    outline: 0;
    padding: var(--padding);
    width: 100%;
    font-size: 0.8rem;
}

.artience-upload-inputfile-container {
    width: 100px;
    height: 100px;
    background: var(--border);
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 30px 0 black, 0 0 0 10px var(--border);
}

.artience-upload-inputfile {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.artience-upload-button {
    padding: var(--padding);
    border: 1px solid var(--border);
    font-size: 0.8rem;
    margin: auto;
    width: 200px;
    display: block;
    margin-top: 50px;
}

.artience-post {
  margin-top: 30px;
}

.artience-post {
  margin-top: 30px;
}

.post_title{
margin-bottom: : 15px;

}

label[for=id_fields] { display : none;}
