{% extends "base.html" %}

{% load static %}

{% block maincontent %}
	{% include "modules/navbar.html" %}

    <section class="artience-home">
			<h4 class="list"><p> 강의 목록 </p></h4>
        <section class="artience-cards">
            {% for post in complete_post %}
                {% include "modules/card.html" %}
            {% endfor %}
        </section>
    <!--    <section class="artience-users">
            <section class="artience-users-header">
                <img src="{% static '' %}{{ current_user.photo|default_if_none:'images/default.png' }}" alt="user picture" class="artience-users-profilepicture">
                <p class="artience-users-username">juanmsl</p>
            </section>
            <section class="artience-users-titles">
                <span>Usuarios</span>
                <a herf="">Ver todos</a>
            </section>
            <section class="artience-users-users">
                {% for user in all_users %}
                <a href="{% url 'profile' user.username %}" class="artience-users-user">
                    <img src="{% static '' %}{{ user.myuser.photo|default_if_none:'images/default.png' }}" alt="picture" class="artience-users-user-profilepicture">
                    <span class="artience-users-username">{{ user.username }}</span>
                </a>
                {% endfor %}
            </section>
        </section> -->
    </section>


	{% include "modules/footer.html" %}
{% endblock %}
