{% extends "base.html" %}

{% load static %}

{% block maincontent %}





<section class="artience-index_content">
  <img src="{% static 'images/main.png' %}" alt="Artience phones" class="Artience-index_phones">
  <section class="artience-index_data">
    <form method="POST" action="{% url 'register' %}" class="artience-index_box artience-form" autocomplete="off">
      {% csrf_token %}
    <!--  <img src="{% static 'images/artience_logo.png' %}" alt="Artience logo" class="artience-form_image"> -->
        {% if form.errors %}
          <p class="login_noti"> ID가 존재 합니다. <br> 다른 아이디로 시도해 주세요. </p>
        {% endif %}


      <p class="artience-form_message">아티언스 E-mail 로 가입을 진행하세요.</p>
      <input class="artience-form_input" name="email" type="email" placeholder="E-Mail 을 입력하세요" required>
      <input class="artience-form_input" name="name" type="text" placeholder="이름을 입력하세요" required>
      <input class="artience-form_input" name="username" type="text" placeholder="ID를 입력하세요" required>
      <input class="artience-form_input" name="password" type="password" placeholder="비밀번호를 입력하세요" required>
      <button class="artience-form_button">가입</button>
      <p class="artience-form_conditions">등록함으로써 귀하는 <br><span class="bold">본 약관 및 개인 정보 보호 정책</span>에 <br>동의하게 됩니다.</p>
    </form>
    <section class="artience-index_box">
      <p class="artience-index_login">ID가 있으신가요?<a href="{% url 'login' %}"> 로그인</a></p>
    </section>
  </section>
</section>

  {% include "modules/footer.html" %}
{% endblock %}
