{% extends "base.html" %}

{% load static %}

{% block maincontent %}
    {% include "modules/navbar.html" %}

<div class="container">
 <input type="hidden" name="userid" value="{{my_user.id}}">
  <input type="hidden" name="postid" value="{{post_id}}">


    <main class="mt-5">
        <div class="container dark-grey-text mt-5">
          <!--Grid row-->
          <div class="row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-md-6 mb-4 text-center ">

              <img src="{{ post_image }}" class="img-responsive tocenter " alt="" style="width:100%">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

              <!--Content-->
              <div class="p-4">

                <div class="mb-3">
                  <a href="">
                    <span class="badge purple mr-1">New!</span>
                  </a>
                </div>


                <p class="lead font-weight-bold" postid="{{post_id}}"> {{post_title}} </p>
                <div class ="artience-teacher-main">강사 : {{ post_teacher }} 강사님</div>
                <div class ="artience-date-main">강의 일자 : {{post_lecturedate}}</div>
                <div class ="artience-min-main">최소인원 : {{post_min}}</div>
                <div class ="artience-apply-main">수강신청수 : {{post.application_set.count}}</div>
                <br>

                  <!-- Default input -->

                  {% if post_id in applications %}
                    <button type="button" class="btn btn-success notapply applyevent" data-toggle="modal" data-target="#basicModal" postid={{post_id}} >강의 취소</button>
                  </a>
                  {% else %}
                    <button type="button" class="btn btn-primary apply applyevent" data-toggle="modal" data-target="#basicModal" postid={{post_id}} >강의 신청</button>

                  </a>
                  {% endif %}
              </div>
              <!--Content-->

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <hr>

          <!--Grid row-->
          <div class="row d-flex justify-content-center wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->
            <div class="col-md-12 text-center" style="width:100%">

              <h4 class="my-4 h4"> 강의 소개 </h4>

              <p>  <p>{% autoescape off %} {{post_description}} {% endautoescape %}</p></p>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid column-->

            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>
      </main>
<div>


  <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">수강신청</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>수강신청 하시겠습니까?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary btn-apply" data-dismiss="modal">신청</button>
        </div>
      </div>
    </div>
  </div>



	{% include "modules/footer.html" %}
{% endblock %}
