
/* form.css */

.artience-form {
    display: flex;
    flex-direction: column;
}

.login_noti{
  font-color : red;


}

.artience-form_image {
    width: 175px;
    display: block;
    margin: 22px auto 12px;
}

.artience-form_message, .artience-form_conditions {
    color: var(--gray_9);
    margin: 10px;
    font-size: 15px;
    text-align: center;
    margin-bottom: var(--margin);
}

.artience-form_conditions {
    font-size: 14px;
}

.artience-form_button {
    background: var(--blue);
    color: white;
    padding: 0 12px;
    line-height: 26px;
    border: 1px solid var(--blue);
    border-radius: 3px;
    margin: 8px 0;
}

.artience-form_input {
    padding: 10px;
    border: 1px solid var(--gray_ef);
    margin-bottom: 8px;
    background: var(--gray_fa);
    font-size: 12px;
    color: var(--gray_9);
    border-radius: 3px;
    font-family: sans-serif;
}

.artience-form_input:focus {
    outline: none;
    border: 1px solid var(--gray_9);
}
